html, body {
  background-color: #eaeaea;
  font-family: "Roboto";
}

a {
  color: black;
  text-decoration: none;
  display: block;
  position: relative;
}

a:visited {
  color: black;
  text-decoration: none;
}

.button {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  padding: 20px;
  background: #9356dc;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
}

.button:hover, .button :active {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.541);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.541);
  background: #a367ec;
  background: -webkit-gradient(linear, left bottom, left top, from(#b684f3), to(#f19dda));
  background: linear-gradient(0deg, #b684f3 0%, #f19dda 100%);
}

.animated {
  opacity: 0;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: progress_opacity;
          animation-name: progress_opacity;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

/* Position Absolute fromMenuPage Like */
.checked.pa {
  position: absolute;
  right: 0;
  opacity: 0;
}

.checked.pa:hover {
  opacity: 1;
  color: #9356DC;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  cursor: pointer;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
}

header h1 {
  font-family: "Shrikhand";
  margin: auto;
  padding: 15px;
}

header .return {
  position: absolute;
  left: 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .return a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

header .return a i {
  font-size: 20px;
}

.search {
  padding: 15px 0px 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .search__bar {
  font-weight: bold;
  color: #303030;
}

.search .search__bar i {
  margin-right: 15px;
}

#explore-restaurant {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#explore-restaurant .wrapper {
  width: 85%;
  margin: auto;
}

#explore-restaurant .wrapper__title {
  font-weight: bold;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#explore-restaurant .wrapper__subtitle {
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#explore-restaurant .wrapper__button {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  padding: 20px;
  background: #9356dc;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
}

#explore-restaurant .wrapper__button:hover, #explore-restaurant .wrapper__button :active {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.541);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.541);
  background: #a367ec;
  background: -webkit-gradient(linear, left bottom, left top, from(#b684f3), to(#f19dda));
  background: linear-gradient(0deg, #b684f3 0%, #f19dda 100%);
}

#how-works {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#how-works .wrapper {
  width: 85%;
  margin: auto;
}

#how-works .wrapper__title {
  font-size: 25px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#how-works .wrapper__step {
  height: 80px;
  background-color: #f6f6f6;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
}

#how-works .wrapper__step:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.541);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.541);
  background-color: #ff79d956;
  cursor: pointer;
}

#how-works .wrapper__step:hover > .wrapper__step__content > i {
  color: #9356DC;
}

#how-works .wrapper__step__indication {
  height: 80px;
  width: 30px;
  left: -15px;
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#how-works .wrapper__step__indication span {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  color: white;
  line-height: 30px;
  margin: auto;
  text-align: center;
}

#how-works .wrapper__step__content {
  width: 85%;
  margin: auto;
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#how-works .wrapper__step__content i {
  margin-right: 30px;
  font-size: 20px;
  color: #7d7d7d;
}

#how-works .wrapper__step__content span {
  font-weight: bold;
  font-size: 18px;
}

#restaurants {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#restaurants .wrapper {
  width: 85%;
  margin: auto;
}

#restaurants .wrapper__title {
  font-size: 25px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#restaurants .wrapper__card {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
}

#restaurants .wrapper__card__infos {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants .wrapper__card__infos__restaurant {
  width: calc(100% - 30px);
}

#restaurants .wrapper__card__infos__restaurant__name {
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#restaurants .wrapper__card__infos__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 15;
}

#restaurants .wrapper__card__infos__like i {
  font-size: 20px;
  margin: auto;
  z-index: 1;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

#restaurants .wrapper__card__infos__like i.checked:hover {
  opacity: 1;
  color: #9356DC;
  cursor: pointer;
}

#restaurants .wrapper__card__infos__like i.checked:hover ~ i.far.fa-heart {
  opacity: 0;
}

#restaurants .wrapper__card__infos__like i.checked {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  position: absolute;
  margin: auto;
  top: 10px;
  z-index: 2;
  font-size: 20px;
  opacity: 0;
}

#restaurants .wrapper__card__image {
  position: relative;
}

#restaurants .wrapper__card__image__new {
  position: absolute;
  padding: 10px;
  background: #99E2D0;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  color: #269c80;
  font-weight: bold;
}

#restaurants .wrapper__card__image img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 280px;
}

#restaurant__picture {
  z-index: 1;
  position: relative;
}

#restaurant__picture img {
  width: 100%;
  max-height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurant__content {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  z-index: 2;
  margin-top: -30px;
  background-color: #f6f6f6;
}

#restaurant__content .wrapper {
  width: 85%;
  margin: auto;
}

#restaurant__content .wrapper__title {
  font-family: "Shrikhand";
  font-size: 25px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#restaurant__content .wrapper__title.fromMenu {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#restaurant__content .wrapper .divider {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50px;
  height: 3px;
  border-radius: 5px;
  background-color: #99E2D0;
}

#restaurant__content .wrapper__selection {
  margin-top: 10px;
  margin-bottom: 10px;
}

#restaurant__content .wrapper__selection__item {
  cursor: pointer;
  -webkit-animation: progress_opacity 4s, bottomToTop 1s;
          animation: progress_opacity 4s, bottomToTop 1s;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
  padding: 15px;
}

#restaurant__content .wrapper__selection__item:hover > .check {
  cursor: pointer;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restaurant__content .wrapper__selection__item:hover > .check > i {
  -webkit-animation: rolling_check 1s;
          animation: rolling_check 1s;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 1;
}

#restaurant__content .wrapper__selection__item:hover > .wrapper__selection__item__content > .wrapper__selection__item__content__infos {
  width: calc(80% - 60px);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

#restaurant__content .wrapper__selection__item__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#restaurant__content .wrapper__selection__item__content__infos {
  width: 80%;
  float: left;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

#restaurant__content .wrapper__selection__item__content__infos__name {
  font-weight: bold;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#restaurant__content .wrapper__selection__item__content__infos__subname {
  margin-top: 5px;
  font-size: 14px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#restaurant__content .wrapper__selection__item__content__price {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: end;
  font-weight: bold;
}

#restaurant__content .wrapper__selection__item .check {
  right: 0;
  top: 0;
  width: 0px;
  height: 100%;
  background: #99E2D0;
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restaurant__content .wrapper__selection__item .check i {
  -webkit-transition-duration: 50ms;
          transition-duration: 50ms;
  opacity: 0;
  position: absolute;
}

#restaurant__content .wrapper__selection__item .check i {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  margin: auto;
  color: white;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

footer {
  background-color: #353535;
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .wrapper {
  width: 85%;
  margin: auto;
}

footer .wrapper__footer__logo {
  font-family: "Shrikhand";
  color: white;
  font-size: 18px;
}

footer .wrapper__footer__nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .wrapper__footer__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

footer .wrapper__footer__nav ul li {
  margin-bottom: 5px;
  margin-top: 5px;
}

footer .wrapper__footer__nav ul li i {
  margin-right: 10px;
  font-size: 13px;
}

footer .wrapper__footer__nav ul li a {
  display: inline;
  color: white;
}

/* Animations */
@-webkit-keyframes rolling_check {
  from {
    right: 0;
  }
  to {
    right: 22px;
  }
}
@keyframes rolling_check {
  from {
    right: 0;
  }
  to {
    right: 22px;
  }
}

@-webkit-keyframes progress_opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes progress_opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes bottomToTop {
  from {
    margin-top: 30px;
  }
  to {
    margin-top: 20px;
  }
}

@keyframes bottomToTop {
  from {
    margin-top: 30px;
  }
  to {
    margin-top: 20px;
  }
}

@-webkit-keyframes progress_opacity_reverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes progress_opacity_reverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Spinner */
.positionned {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spinner-roller {
  margin: auto;
  opacity: 1;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation: progress_opacity_reverse 4s;
          animation: progress_opacity_reverse 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.spinner-roller div {
  -webkit-animation: spinner-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: spinner-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.spinner-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #9356DC;
  margin: -4px 0 0 -4px;
}

.spinner-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.spinner-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.spinner-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.spinner-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.spinner-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.spinner-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.spinner-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.spinner-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.spinner-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.spinner-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.spinner-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.spinner-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.spinner-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.spinner-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.spinner-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.spinner-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes spinner-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media all and (max-width: 992px) and (min-width: 768px) {
  #how-works .wrapper {
    width: 65%;
  }
  #restaurants .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #restaurants .wrapper__card {
    width: calc(100% / 2 - 20px);
  }
  #restaurant__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
  #restaurant__content .wrapper {
    width: calc(100% / 3 - 20px);
  }
  #restaurant__content .wrapper.full {
    width: 100%;
  }
}

@media all and (min-width: 993px) {
  #how-works .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #how-works .wrapper__title {
    width: 100%;
  }
  #how-works .wrapper__step {
    width: calc(100% / 3 - 20px);
  }
  #restaurants .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #restaurants .wrapper__card {
    width: calc(100% / 4 - 20px);
  }
  #restaurant__picture img {
    min-height: 330px;
  }
}
/*# sourceMappingURL=style.css.map */