$color-primary: #9356DC;
$color-primary-opacified: #ff79d956;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;
$color-tertiaire-text: #269c80;

$color-background: #eaeaea;
$color-background-secondary: #f6f6f6;
$color-background-tertiaire: #ffffff;

$color-icon : #7d7d7d;

$font-logo: 'Shrikhand';
$font-primary: 'Roboto';

$footer-color: #353535;

@mixin font($font-family){
    font-family: $font-family;
}

@mixin shadow(){
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
}

@mixin shadow--animation(){
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.541);
}

@mixin gradient(){
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
}

@mixin gradient--animation(){
    background: rgb(163, 103, 236);
    background: linear-gradient(0deg, rgb(182, 132, 243) 0%, rgb(241, 157, 218) 100%);
}

html, body {
    background-color: $color-background;
    @include font($font-primary)
}

a {
    color: black;
    text-decoration: none;
    display: block;
    position: relative;
}

a:visited {
    color: black;
    text-decoration: none;
}

.button {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
    border-radius: 30px;
    padding: 20px;
    @include gradient();
    color: white;
    @include shadow();
    &:hover, :active {
        animation-duration: 4s;
        cursor: pointer;
        @include shadow--animation();
        @include gradient--animation();
    }
}

.animated {
    opacity: 0;
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-name: progress_opacity;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

/* Position Absolute fromMenuPage Like */
.checked.pa {
    position: absolute;
    right: 0;
    opacity: 0;
}

.checked.pa:hover {
    opacity: 1;
    color: $color-primary;
    transition-duration: 400ms;
    cursor: pointer;
}


header {
    position: relative;
    display: flex;
    background-color: $color-background-tertiaire;
    @include shadow();
    
    h1{
        @include font($font-logo);
        margin: auto;
        padding: 15px;
    }

    .return {
        position: absolute;
        left: 15px;
        height: 100%;
        display: flex;
        a {
            display: flex;
            margin: auto;
            i {
                font-size: 20px;
            }
        }
    }

}

.search {
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
    .search__bar {
        font-weight: bold;
        color: #303030;
        i {
            margin-right: 15px;
        }
    }
}


#explore-restaurant {
    padding-top: 30px;
    padding-bottom: 30px;
    background: $color-background-secondary;
    display: flex;
    justify-content: center;
    text-align: center;
    .wrapper{
        width: 85%;
        margin: auto;

        &__title {
            
            font-weight: bold;
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &__subtitle {
            font-size: 17px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &__button {
            margin: auto;
            margin-top: 30px;
            margin-bottom: 30px;
            width: fit-content;
            border-radius: 30px;
            padding: 20px;
            @include gradient();
            color: white;
            @include shadow();
            &:hover, :active {
                cursor: pointer;
                @include shadow--animation();
                @include gradient--animation();
            }
        }
    }
}

#how-works {
    background-color: $color-background-tertiaire;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    .wrapper {
        width: 85%;
        margin: auto;
        &__title {
            font-size: 25px;
            font-weight: bold;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        &__step {
            height: 80px;
            background-color: $color-background-secondary;
            margin-top: 25px;
            margin-bottom: 25px;
            border-radius: 25px;
            position: relative;
            display: flex;
            @include shadow();

            &:hover {
                @include shadow--animation();
                background-color: $color-primary-opacified;
                cursor: pointer;
            }

            &:hover > .wrapper__step__content > i{
                color: $color-primary;
            }

            &__indication {
                height: 80px;
                width: 30px;
                left: -15px;
                position: absolute;
                bottom: 0px;
                display: flex;
                span {
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    background-color: $color-primary;
                    color: white;
                    line-height: 30px;
                    margin: auto;
                    text-align: center;
                }  
            }

            &__content {
                width: 85%;
                margin: auto;
                margin-left: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    margin-right: 30px;
                    font-size: 20px;
                    color: $color-icon;
                }
                span {
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }
}

#restaurants {
    background-color: $color-background-secondary;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .wrapper {
        width: 85%;
        margin: auto;
        &__title {
            font-size: 25px;
            font-weight: bold;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        
        &__card {
            margin-top: 30px;
            margin-bottom: 30px;
            background-color: $color-background-tertiaire;
            border-radius: 20px;
            @include shadow();

            &__infos {
                padding: 20px;
                display: flex;
                justify-content: space-between;

                &__restaurant {
                    width: calc(100% - 30px);
                }
                
                &__restaurant__name {
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                
                &__like {
                    display: flex;
                    position: relative;
                    z-index: 15;
                    i { 
                        font-size: 20px; 
                        margin: auto;
                        z-index: 1;
                        transition-duration: 400ms;
                        
                    }
                    i.checked:hover {
                        opacity: 1;
                        color: $color-primary;
                        cursor: pointer;
                    }
                    i.checked:hover ~ i.far.fa-heart {
                        opacity: 0;
                    }
                    i.checked {
                        transition-duration: 400ms;
                        position: absolute;
                        margin: auto;
                        top: 10px;
                        z-index: 2;
                        font-size: 20px;
                        opacity: 0;
                    }
                }
            }
            
            &__image { 

                position: relative;
                
                &__new {
                    position: absolute;
                    padding: 10px;
                    background: $color-tertiaire;
                    right: 10px;
                    top: 10px;
                    border-radius: 5px;
                    color: $color-tertiaire-text;
                    font-weight: bold;
                }
            
                img {
                    width: 100%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    height: 280px;
                }
            }
        }
    }
}

#restaurant__picture {
    z-index: 1;
    position: relative;   
    img {
        width: 100%;
        max-height: 220px;
        object-fit: cover;
    }
}

#restaurant__content {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    z-index: 2;
    margin-top: -30px;
    background-color: $color-background-secondary;
    .wrapper {
        width: 85%;
        margin: auto;
        &__title {
            @include font($font-logo);
            font-size: 25px;
            font-weight: bold;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        &__title.fromMenu {
            position: relative;
            justify-content: space-between;
            display: flex;
        }
        
        &__subtitle span {
            display: inline-block;
        }

        &__subtitle span::after {
            margin-top: 5px;
            content: "";
            height: 3px;
            background-color: $color-tertiaire;
            width: 40px;
            display: block;
        }

        &__selection {
            margin-top: 10px;
            margin-bottom: 10px;
            &__item {
                cursor: pointer;
                animation: progress_opacity 4s, bottomToTop 1s;
                margin-top: 20px;
                margin-bottom: 20px;
                position: relative;
                background-color: #ffffff;
                border-radius: 10px;
                @include shadow();
                padding: 15px;
                &:hover > .check {
                    cursor: pointer;
                    transition-duration: 500ms;
                    width: 60px;
                    display: flex;
                    align-items: center;
                }

                &:hover > .check > i {
                    animation: rolling_check 1s;
                    transition-delay: 100ms;
                    transition-duration: 400ms;
                    transform: rotate(360deg);
                    opacity: 1;
                }               

                &:hover > .wrapper__selection__item__content > .wrapper__selection__item__content__infos {
                    width: calc(80% - 60px);
                    transition-duration: 500ms;
                }
                
                &__content {
                    width: 100%;
                    display: flex;
                    &__infos {
                        width: 80%;
                        float: left;
                        transition-duration: 500ms;
                        &__name {
                            font-weight: bold;
                            display: block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        &__subname {
                            margin-top: 5px;
                            font-size: 14px;
                            display: block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                    &__price {
                        width: 20%;
                        display: flex;
                        flex-direction: column-reverse;
                        text-align: end;
                        font-weight: bold;
                    }
                }
                .check {
                    right: 0;
                    top:0;
                    width: 0px;
                    height: 100%;
                    background: $color-tertiaire;
                    position: absolute;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    transition-duration: 500ms;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    i{
                        transition-duration: 50ms;
                        opacity: 0;
                        position: absolute;
                    }
                    i { 
                        transition-duration: 400ms;
                        margin: auto;
                        color: white;
                        transform: rotate(-360deg);
                        
                    }
                }

            }
        }     
    }
}

footer {
    background-color: $footer-color;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    .wrapper {
        width: 85%;
        margin: auto;
        &__footer__logo {
            @include font($font-logo);
            color: white;
            font-size: 18px;
        }
        &__footer__nav {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__footer__nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            color: white;
            li {
                margin-bottom: 5px;
                margin-top: 5px;
                i {
                    margin-right: 10px;
                    font-size: 13px;
                }
                a {
                    display: inline;
                    color: white;
                }
            }
        }
    }
}


/* Animations */

@keyframes rolling_check {
    from {right: 0;} to {right: 22px;}
}

@keyframes progress_opacity {
    from {opacity: 0} to {opacity: 1}
}

@keyframes bottomToTop {
    from {margin-top: 30px;} to {margin-top: 20px;}
}

@keyframes progress_opacity_reverse {
    from {opacity: 1;} to {opacity: 0;}
}


/* Spinner */

.positionned {
    width: 100%;
    position: absolute;
    display: flex;
    height: 100%;
    justify-content: center;
}

.spinner-roller {
    margin: auto;
    opacity: 1;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    animation-delay: 4s;
    animation: progress_opacity_reverse 4s;
    animation-fill-mode: forwards;
  }


  .spinner-roller div {
    animation: spinner-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .spinner-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $color-primary;
    margin: -4px 0 0 -4px;
  }
  .spinner-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .spinner-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .spinner-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .spinner-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .spinner-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .spinner-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .spinner-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .spinner-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .spinner-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .spinner-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .spinner-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .spinner-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .spinner-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .spinner-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .spinner-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .spinner-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes spinner-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  @media all and (max-width: 992px) and (min-width: 768px)
  { 

    #how-works {
        .wrapper {
            width: 65%;
        }
    }

    #restaurants {
        .wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            &__card {
                width: calc(100% / 2 - 20px);
            }
        }
    }

    #restaurant__content {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        .wrapper {
            width: calc(100% / 3 - 20px);
        }
        .wrapper.full {
            width: 100%;
        }
    }

  }

  @media all and (min-width: 993px)
  { 
    #how-works {
        .wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            &__title {
                width: 100%;
            }
            &__step {
                width: calc(100% / 3 - 20px);
            }
        }
    }

    #restaurants {
        .wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            &__card {
                width: calc(100% / 4 - 20px);
            }
        }
    }

    #restaurant__picture {
        img {
            min-height: 330px;
        }
    }

  }